@model IEnumerable<Product> 
<div class="row align-items-center mb-3">
    <div class="col-md-2">
        <h2 class="text-secondary">Product Lists</h2>
    </div>
    <div class="col-md-10 text-end">
        <a asp-action="Create" class="btn btn-dark text-white"><i class="bi bi-plus-circle"></i>Add Product</a>
    </div>

</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Actions</th>
        </tr>   
        </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    @if (!string.IsNullOrEmpty(product.ImagePath))
                    {
                        <img src="@Url.Content(product.ImagePath)" alt="Product Image" style="max-width: 100px; max-height: 100px;" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-primary">Edit</a>
                    <form asp-action="Delete" asp-route-id="@product.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>        